#app {
  width: 100px;
  height: 100px;
  background-color: #000;
}

.div {
  width: 100px;
  height: 100px;
  background-color: #000;
}

.foo{
color: red;
}
.bar {
  color: blue;
}

@media (min-resolution: 2dppx) {
  .image {
    color: yellow
  }
}